* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

header {
    margin-top: 2%;
    position: relative;
}

#turn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    text-align: center;
}

#toggle-mode {
    position: absolute;
    right: 4rem;
    top: 0;
}

#player {
    color: #04d9ff;
}

#status {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tic-tac-toe-grid {
    display: grid;
    width: max(30%, 370px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin-top: 1.5%;
}

#tic-tac-toe-grid > button {
    aspect-ratio: 1;
    width: 100%;
    border-style: none;
    border-radius: 1rem;
    font-size: 2rem;
    background-color: rgb(214, 214, 214);
}

#reset {
    margin-top: 3%;
    padding: .3rem 1.5rem;
    background-color: #44b613;
    color: white;
    font-size: 14pt;
    border-radius: .7rem;
    border-style: none;
}

#reset:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #ff9e02;
}

/* dark mode */
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

button.dark-mode {
    background-color: #444444;
    color: #ffffff;
}

